---
layout: single
title: home
header:
  image: assets/images/background.jpg
classes: wide
permalink: twitter

---
Twitter feed placeholder:

<img src="assets/images/background.jpg" />

{{ content }}

<h3 class="archive__subtitle">{{ "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<h3 class="archive__subtitle">{{ "Twitter Feed" }}</h3>
<br>


<div>
    <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/_bnjenner_?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3A_bnjenner_&ref_url=http%3A%2F%2Flocalhost%3A4000%2F">Tweets by _bnjenner</a>   
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

