---
layout: single
title: Home
header:
  image: assets/images/background.jpg
classes: wide
permalink: twitter
---

<style>
.container {
  text-align: center;
  margin: 0px auto;
}
.left-col {
  width: 50%;
  float: left;
  margin-bottom: -20px;
}
.right-col {
  width: 50%;
  float: left;
  margin-bottom: -20px;
}
@media screen and (max-width:875px) {
  .left-col {
    float: left;
    width: 100%;
    margin-bottom: 0px;
  }
  .right-col {
    float: left;
    margin-top: 45px;
    width: 100%;
  }
.emb {
  overflow-y: scroll;
}
</style>

<img src="assets/images/background.jpg" />

{{ content }}

<font size="6"><h3 class="archive__subtitle">{{ "Recent Posts" }}</h3></font>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
<br>

<font size="6"><h3 style="margin-top: 0px;" class="archive__subtitle">{{ "Recent Activity" }}</h3></font>
<br>

<div class="container">
  <section class="left-col">
    <div class="emb" style="overflow-y: scroll;">
      <h1 style="margin-bottom: 30px; text-align: center;"><a href="https://twitter.com/_bnjenner_">Twitter</a></h1>
      <a class="twitter-timeline" href="https://twitter.com/_bnjenner_?ref_src=twsrc%5Etfw" data-chrome="noheader" data-width="350" data-height="300"></a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>    
  </section>
  <aside class="right-col">
    <div style="width: 300px; height: 500px; display: inline-block; margin-bottom: 45px;">
      <a style="display: block;">
        <h1 style="text-align: center; width: 300px; height: 60px;"><a  href="https://github.com/bnjenner?tab=repositories">Repositories</a></h1>
        <font size="5"><ul style="text-align: left;" id="repositories"></ul></font>
      </a>
    </div>
  </aside>
</div>    


<script src="../../scripts/repo.js"></script>
